<!doctype html>
<html>
    <head>
        <title>SocialClient Graph Visualization</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <style type="text/css">
            #viz {
                width: 1600px;
                height: 1000px;
            }
        </style>
        <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
    <script type="text/javascript">
        var viz;
        function draw(){
            var config = {
                container_id: "viz",
                server_url: "bolt://localhost:7687",
                server_user: "neo4j",
                server_password: "1234",
                labels: {
                    "Person" : {
                        "caption": "name"
                    }
                },
                relationships: {
                    "FRIENDS" : {
                        "caption": true,
                        "thickness": "count"
                    }
                },
                initial_cypher: "MATCH a=(:Person)-[r:FRIENDS]->(:Person) RETURN a"
            }
            viz = new NeoVis.default(config);
            viz.render();
        }
    </script>
    </head>
    <body onload="draw()">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Neo4JxNodeJS Social Client <img src="/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              Bootstrap&#153;
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a href="/">Home</a></li>
                  <li class="nav-item active">
                        <a href="/graph.html" style="margin-left:25px">Graph Visualization</a>
                    </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>

        <div id="viz"></div>
    </body>
    </html>