<!doctype html>
<html>
    <head>
        <title>SocialClient Graph Visualization</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        <style type="text/css">
            #viz {
                width: 1600px;
                height: 1000px;
            }
        </style>
        <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
    <script type="text/javascript">
        var viz;
        function draw(){
            var config = {
                container_id: "viz",
                server_url: "bolt://localhost:7687",
                server_user: "neo4j",
                server_password: "1234",
                labels: {
                    "Person" : {
                        "caption": "name"
                    },
                    "Interest" : {
                        "caption": "name",
                        "color": "green"
                    }
                },
                relationships: {
                    "FRIENDS" : {
                        "caption": true,
                        "thickness": "count"
                    },
                    "DOES" : {
                        "caption": true,
                        "thickness": "count"
                    }
                },
                initial_cypher: "MATCH a=(:Person)-[r:FRIENDS]->(:Person), b=(:Person)-[d:DOES]->(:Interest) RETURN a,b"
            }
            viz = new NeoVis.default(config);
            viz.render();
        }
    </script>
    </head>
    <body onload="draw()">
        <div class="bs-component">  
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">Neo4JxNodeJS Social Client 
                        <img src="/nodejsvector.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        <img src="/neo4j.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                        <img src="/bootswatchtwo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        <img src="/jsdesign.png" width="30" height="30" class="d-inline-block align-top" alt="">
                        <img src="/expresstwo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                      </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item active">
                            <a class="nav-link" href="/graph.html" style="margin-left:25px">Social Matrix/ Graph</a>
                        </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right:3px" type="submit">Login</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left:3px" type="submit">Register</button>
                </form>
                </div>
            </nav>
        </div>

        <div id="viz"></div>
    </body>
    </html>